aside.sidebar.pa
  .avatar-wrap.pr
    .avatar-bg.pa
    .avatar.pa
      img(src=config.common_assets + '/images/avatar.png')
    .name.tac
  nav.subnav
    ul
      li
        a(href='javascript:;', title='正在开发中，敬请期待...')
          i.icon.icon-folder
          | 我的账号
      li
        a(href='javascript:;', title='正在开发中，敬请期待...')
          i.icon.icon-user2
          | 个人资料
      li.active
        a(href='')
          i.icon.icon-lock
          | 修改密码
      li
        a(href='javascript:;', title='正在开发中，敬请期待...')
          i.icon.icon-square-plus
          | 二级密码
      li
        a(href='javascript:;', title='正在开发中，敬请期待...')
          i.icon.icon-microphone
          | 消息管理