script.
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement('script');
    hm.src = '//hm.baidu.com/hm.js?2c9e05697638c2761730097df0e34aaa';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(hm, s);
  })();