meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
meta(name='author', content='eric tian')
meta(name='keywords', content='墨麟游戏，mlyx.com,网页游戏平台，网页游戏')
meta(name='description', content='墨麟游戏平台是专业的网页游戏运营平台，为中外游戏玩家提供最为精品的网页游戏；墨麟游戏注重游戏的良心运营与最高品质的客户服务，成为深受广大玩家喜爱的国内品牌精品游戏运营商。')
meta(name='revised', content='2016/06/20')
meta(name='copyright', content='mokylin group')
meta(property='qc:admins', content='2473362131654106375')