aside.sidebar.pa
  nav#subnav.subnav
    ul
      li.item.active(data-value='weichat', data-text='微信支付')
        a(href='javascript:;')
          i.icon.icon-weixin2
          | 微信支付
      li.item(data-value='alipay', data-text='支付宝支付')
        a(href='javascript:;')
          i.icon.icon-alipay
          | 支付宝支付