.main-content {
  border: 1px solid #444141;
}

.main-content .article-top {
  background-color: #444141;
  border-bottom: 1px solid #4e5359;
  color: #848a91;
  padding: 20px;
  overflow: hidden;
}

.main-content .article-top .top-title {
  font-size: 1.7rem;
  color: #d7b96c;
}

.main-content .article-top .top-position {
  font-size: 1rem;
  margin-top: 10px;
}

.main-content .article-main {
  overflow: hidden;
  min-height: 650px;
  padding: 20px 30px;
}

.main-content .article-main .article-title {
  border-bottom: 1px solid #DDD;
  padding: 0px 10px 10px;
}

.main-content .article-main .article-title .r-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.main-content .article-main .article-content {
  font-size: .9rem;
  color: #000;
  line-height: 2;
  padding: 20px;
}

.main-content .article-main .article-content .apply-card-layer {
  margin-bottom: 30px;
  overflow: hidden;
}

.main-content .article-main .article-content img {
  max-width: 100%;
}
