extends ./layouts/default.pug

block styles
  link(rel='stylesheet' href=config.assets + '/css/news.css?v=' + config.version)

block content
  .article-top
    .top-title 新闻资讯
    .top-position
      a(href='/') 古剑奇谭首页
      | &nbsp;&gt;&nbsp;
      a(href='/news_list/info') 新闻中心
  .article-main
    .article-title
      .r-title #{article.title}
      .r-date
        | 发布时间：
        span #{moment(article.date).format('YYYY-MM-DD HH:ss')}
    .article-content
      | !{article.content}
