extends ./layouts/default.pug

block styles
  link(rel='stylesheet' href=config.assets + '/css/news.css?v=' + config.version)

block content
  .article-top
    .top-title VIP特权
  .article-main
    .article-content
      table(style='border-collapse: collapse')
        tbody
          tr
            td(style='border: #666 1px solid;text-align: center;width: 100px') VIP特权
            td(style='border: #666 1px solid;text-align: center;width: 500px') VIP特权
          tr
            td(style='border: #666 1px solid;text-align: center') 1
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值300元宝即可享受该特权
              br
              | 每天可免费领取扫荡卷25张
              br
              | 每天可购买体力6次
              br
              | 每天可以使用摇钱树5次
              br
              | 每月签到奖励可补领1次
              br
              | 挂机角色以及古剑历练加成25%
              br
              | 解锁使用元宝扫荡副本功能
          tr
            td(style='border: #666 1px solid;text-align: center') 2
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值500元宝即可享受该特权
              br
              | 每天可购买体力7次
              br
              | 每月签到奖励可补领2次
              br
              | 每天可以重置精英副本1次
              br
              | 解锁购买技能点功能
              br
              | 每天可免费领取扫荡卷30张
              br
              | 每天可以使用摇钱树20次
              br
              | 挂机角色以及古剑历练加成25%
              br
              | 每天可以购买技能点1次
          tr
            td(style='border: #666 1px solid;text-align: center') 3
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值700元宝即可享受该特权
              br
              | 每天可购买体力8次
              br
              | 每月签到奖励可补领3次
              br
              | 每天可以重置精英副本2次
              br
              | 每天可以购买技能点2次
              br
              | 每天可免费领取扫荡卷35张
              br
              | 每天可以使用摇钱树30次
              br
              | 挂机角色以及古剑经验加成25%
              br
              | 每天可以购买试剑大会重置次数1次
              br
              | 解锁立即重置试剑大会CD技能
              br
              | 野外杀怪经验上限增加100W
          tr
            td(style='border: #666 1px solid;text-align: center') 4
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值800元宝即可享受该特权
              br
              | 每天可购买体力9次
              br
              | 每月签到奖励可补领4次
              br
              | 每天可以重置精英副本3次
              br
              | 每天可以购买技能点3次
              br
              | 每天可免费领取扫荡卷40张
              br
              | 每天可以使用摇钱树40次
              br
              | 挂机角色以及古剑历练加成25%
              br
              | 每天可以购买试剑大会重置次数2次
              br
              | 解锁一键多次扫荡功能
              br
              | 野外杀怪经验上限增加100W
          tr
            td(style='border: #666 1px solid;text-align: center') 5
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值1000元宝即可享受该特权
              br
              | 每天可购买体力10次
              br
              | 每月签到奖励可补领5次
              br
              | 每天可以重置精英副本4次
              br
              | 每天可以购买技能点4次
              br
              | 每天可免费领取扫荡卷45张
              br
              | 每天可以使用摇钱树50次
              br
              | 挂机角色以及古剑历练加成55%
              br
              | 每天可以购买试剑大会重置次数3次
              br
              | 技能点上限增加至20点
              br
              | 野外杀怪经验上限增加100W
          tr
            td(style='border: #666 1px solid;text-align: center') 6
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值2000元宝即可享受该特权
              br
              | 每天可购买体力11次
              br
              | 每月签到奖励补领6次
              br
              | 每天可重置精英副本5次
              br
              | 每天可以购买技能点5次
              br
              | 每天可免费领取扫荡卷50张
              br
              | 每天可以使用摇钱树60次
              br
              | 挂机角色以及古剑历练加成50%
              br
              | 每天可以购买试剑大会重置次数4次
              br
              | 每日活动团队合作的侠义点增加50%
              br
              | 野外杀怪经验上限增加200W
          tr
            td(style='border: #666 1px solid;text-align: center') 7
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值3000元宝即可享受该特权
              br
              | 每天可购买体力12次
              br
              | 每月签到奖励可补领7次
              br
              | 每天可以重置精英副本6次
              br
              | 每天可以购买技能点6次
              br
              | 每天可免费领取扫荡卷55张
              br
              | 每天可以使用摇钱树70次
              br
              | 每天可以购买试剑大会重置次数5次
              br
              | 赠送紫胤真人剑魄80个
              br
              | 野外杀怪经验上限增加200W
          tr
            td(style='border: #666 1px solid;text-align: center') 8
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值5000元宝即可享受该特权
              br
              | 每天可购买体力13次
              br
              | 每月签到奖励可补领8次
              br
              | 每天可以重置精英副本7次
              br
              | 每天可以购买技能点7次
              br
              | 每天可免费领取扫荡卷65张
              br
              | 每天可以使用摇钱树80次
              br
              | 挂机角色以及古剑历练加成75%
              br
              | 每天可以购买试剑大会重置次数6次
              br
              | 解锁本国全地图免费传送功能
              br
              | 野外杀怪经验上限增加200W
          tr
            td(style='border: #666 1px solid;text-align: center') 9
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值7000元宝即可享受该特权
              br
              | 每天可购买体力14次
              br
              | 每月签到奖励可补领9次
              br
              | 每天可以重置精英副本8次
              br
              | 每天可以购买技能点8次
              br
              | 解锁永久召唤神秘商人功能
              br
              | 每天可免费领取扫荡卷70张
              br
              | 每天可以使用摇钱树90次
              br
              | 挂机角色以及古剑历练加成75%
              br
              | 每天可以购买试剑大会重置次数7次
              br
              | 解锁装备一键附魔功能
              br
              | 野外杀怪经验上限增加300W
          tr
            td(style='border: #666 1px solid;text-align: center') 10
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值10000元宝即可享受该特权
              br
              | 每天可购买体力15次
              br
              | 每月签到奖励可补领10次
              br
              | 每天可以重置精英副本9次
              br
              | 每天可以购买技能点9次
              br
              | 每天可免费领取扫荡卷75张
              br
              | 每天可以使用摇钱树100次
              br
              | 挂机角色以及古剑历练加成100%
              br
              | 每天可以购买试剑大会重置次数8次
              br
              | 每天可进行秦陵夺宝两次
              br
              | 野外杀怪经验上限增加300W
          tr
            td(style='border: #666 1px solid;text-align: center') 11
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值15000元宝即可享受该特权
              br
              | 每天可购买体力16次
              br
              | 每月签到奖励可补领12次
              br
              | 每天可以重置精英副本10次
              br
              | 每天可以购买技能点10次
              br
              | 每天可免费领取扫荡卷80张
              br
              | 每天可以使用摇钱树120次
              br
              | 挂机角色以及古剑历练加成100%
              br
              | 每天可以购买试剑大会重置次数9次
              br
              | 寻剑天命古剑开启
              br
              | 解锁永久召唤珍宝商人功能
              br
              | 野外杀怪经验上限增加300W
          tr
            td(style='border: #666 1px solid;text-align: center') 12
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值20000元宝即可享受该特权
              br
              | 每天可购买体力17次
              br
              | 每月签到奖励可补领15次
              br
              | 每天可以重置精英副本11次
              br
              | 每天可以购买技能点11次
              br
              | 每天可免费领取扫荡卷85张
              br
              | 每天可以使用摇钱树150次
              br
              | 挂机角色以及古剑历练加成100%
              br
              | 每天可以购买试剑大会重置次数10次
              br
              | 赠送紫胤真人剑魄100个
              br
              | 野外杀怪经验上限增加400W
          tr
            td(style='border: #666 1px solid;text-align: center') 13
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值40000元宝即可享受该特权
              br
              | 每天可购买体力18次
              br
              | 每月签到奖励可补领20次
              br
              | 每天可以重置精英副本12次
              br
              | 每天可以购买技能点12次
              br
              | 每天可免费领取扫荡卷90张
              br
              | 每天可以使用摇钱树200次
              br
              | 挂机角色以及古剑历练加成100%
              br
              | 每天可以购买试剑大会重置次数11次
              br
              | 秦陵夺宝的奖励（铜钱）增加50%
              br
              | 野外杀怪经验上限增加400W
          tr
            td(style='border: #666 1px solid;text-align: center') 14
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值80000元宝即可享受该特权
              br
              | 每天可购买体力19次
              br
              | 每月签到奖励可补领28次
              br
              | 每天可以重置精英副本13次
              br
              | 每天可以购买技能点13次
              br
              | 每天可免费领取扫荡卷95张
              br
              | 每天可以使用摇钱树250次
              br
              | 挂机角色以及古剑历练加成100%
              br
              | 每天可以购买试剑大会重置次数12次
              br
              | 个人运镖奖励增加50%
              br
              | 野外杀怪经验上限增加400W
          tr
            td(style='border: #666 1px solid;text-align: center') 15
            td(style='border: #666 1px solid;text-align: center')
              | 累计充值150000元宝即可享受该特权
              br
              | 每天可购买体力20次
              br
              | 每月签到奖励可补领31次
              br
              | 每天可以重置精英副本14次
              br
              | 每天可以购买技能点14次
              br
              | 每天可免费领取扫荡卷100张
              br
              | 每天可以使用摇钱树300次
              br
              | 挂机角色以及古剑历练加成100%
              br
              | 每天可以购买试剑大会重置次数13次
              br
              | 赠送紫胤真人剑魄150个
              br
              | 野外杀怪经验上限增加500W