.icon {
  display: inline-block;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.icon-headset {
  width: 20px;
  height: 18px;
  background-image: url(../images/icon_headset.png);
}
.icon-mail {
  width: 22px;
  height: 16px;
  background-image: url(../images/icon_mail.png);
}
.icon-key {
  width: 19px;
  height: 22px;
  background-image: url(../images/icon_key.png);
}
.icon-phone {
  width: 14px;
  height: 22px;
  background-image: url(../images/icon_phone.png);
}
.icon-handle-lg {
  width: 48px;
  height: 34px;
  background-image: url(../images/icon_handle_lg.png);
}
.icon-home2 {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon_home2.png);
}
.icon-gift {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon_gift.png);
}
.icon-handle2 {
  width: 22px;
  height: 16px;
  background-image: url(../images/icon_handle2.png);
}
.triangle {
  float: left;
  margin: 7px 5px 0 0;
  border: 3px solid transparent;
}
.triangle.left {
  border-right-color: #a4a4a4;
}
.triangle.right {
  border-left-color: #a4a4a4;
}
.more {
  float: right;
  font-size: 12px;
  color: #a4a4a4;
}
.more span {
  font-family: Arial;
}
.lnk-more {
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  color: #21a5fe;
  vertical-align: bottom;
  font-size: 16px;
  font-weight: bold;
}
.lnk-more:hover {
  background-color: #239cf0;
  border-color: #239cf0;
  color: #fff;
}
.server-panel .panel-header {
  border-bottom: 0;
}
.server-panel .tab {
  float: left;
  padding: 10px;
  width: 50%;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #f5f5f5;
  background-color: #fafafa;
  color: #878787;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #fdfdfd 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #fdfdfd 100%);
  background-repeat: repeat-x;
}
.server-panel .tab.active {
  border-top-color: #ffad1e;
}
.server-panel .tab-content .separate {
  margin: 0 5px;
  border: 0;
  border-top: 1px dotted #cfcfcf;
}
.server-panel .tab-content .tab-pane {
  display: none;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.server-panel .tab-content .tab-pane.active {
  display: block;
}
.server-panel .tab-content .unslider-wrap {
  padding: 15px 0;
  min-height: 470px;
}
.server-panel .tab-content .unslider-wrap:before,
.server-panel .tab-content .unslider-wrap:after {
  content: ' ';
  display: table;
}
.server-panel .tab-content .unslider-wrap:after {
  clear: both;
}
.server-panel .tab-content .unslider-nav {
  padding: 20px 0px;
  height: 60px;
  text-align: center;
}
.server-panel .tab-content .unslider-nav li {
  margin: 0 10px;
  width: 12px;
  height: 12px;
  background-color: #e6e6e6;
  text-indent: 1000px;
  overflow: hidden;
  border: 0;
  border-radius: 50%;
}
.server-panel .tab-content .unslider-nav li.unslider-active {
  background-color: #239cf0;
}
.server-panel .tab-content table.server-list {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.server-panel .tab-content table.server-list thead th {
  padding: 20px 5px;
}
.server-panel .tab-content table.server-list tbody td {
  padding: 10px 5px;
  text-align: center;
  vertical-align: top;
}
.server-panel .tab-content table.server-list a {
  color: #686868;
}
.server-panel .tab-content table.server-list a:hover {
  color: #239cf0;
}
.server-panel .tab-content table.server-list .server-name a {
  color: #239cf0;
}
.server-panel .tab-content table.server-list .server-name a:hover {
  color: #0e82d2;
}
.server-panel .tab-content table.server-list .date {
  font-size: 12px;
  color: #ababab;
}
.news-panel .news-list li {
  margin: 0 5px;
  padding: 15px 10px;
  border-bottom: 1px dotted #cfcfcf;
}
.news-panel .news-list li .date {
  float: right;
  color: #a4a4a4;
  font-size: 12px;
}
.news-panel .news-list li .title {
  display: block;
  margin-right: 50px;
}
.news-panel .news-list li a {
  color: #898989;
}
.news-panel .news-list li a:hover {
  color: #239cf0;
}
.shortcut-panel .panel-body {
  padding: 5%;
}
.shortcut-panel .panel-body a {
  display: inline-block;
  margin: 3%;
  padding: 15px;
  width: 45%;
  text-align: center;
  background-color: #ececec;
  color: #808080;
}
.shortcut-panel .panel-body a:hover {
  background-color: #24bfff;
  color: #fff;
}
.shortcut-panel .panel-body a:hover .icon-headset {
  background-image: url(../images/icon_headset_hover.png);
}
.shortcut-panel .panel-body a:hover .icon-mail {
  background-image: url(../images/icon_mail_hover.png);
}
.shortcut-panel .panel-body a:hover .icon-key {
  background-image: url(../images/icon_key_hover.png);
}
.shortcut-panel .panel-body a:hover .icon-phone {
  background-image: url(../images/icon_phone_hover.png);
}
.hot-panel .hot-list li {
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.hot-panel .hot-list dl {
  margin: 0;
}
.hot-panel .hot-list dl .game-icon {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.hot-panel .hot-list dl .game-icon img {
  display: block;
  max-width: 100%;
}
.hot-panel .hot-list dd {
  margin-left: 65px;
}
.hot-panel .hot-list dd .name {
  color: #363636;
}
.hot-panel .hot-list dd .name:hover {
  color: #239cf0;
}
.hot-panel .hot-list dd .slogan {
  margin-top: 10px;
  color: #b3b3b3;
}
.index-wrapper {
  position: relative;
}
.index-wrapper .container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.index-wrapper .banner {
  background: url(../images/bg_banner.jpg) no-repeat 50% 50%;
}
.index-wrapper .banner h1 {
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
  color: #fff;
}
.index-wrapper .banner h1 .icon-handle-lg {
  margin-top: 5px;
  vertical-align: top;
}
.index-wrapper .banner h1 .title,
.index-wrapper .banner h1 .subtitle {
  margin-left: 15px;
  font-weight: normal;
  line-height: 1em;
  text-align: left;
}
.index-wrapper .banner h1 .title {
  height: 28px;
  font-size: 22px;
  vertical-align: top;
}
.index-wrapper .banner h1 .subtitle {
  height: 20px;
  font-size: 14px;
  vertical-align: bottom;
}
.index-wrapper .recommend-list .item {
  float: left;
  margin-right: 2%;
  width: 23.5%;
  background-color: #fff;
}
.index-wrapper .recommend-list .item:hover {
  box-shadow: 0 0 10px 0px #fff;
}
.index-wrapper .recommend-list .lnk-cover {
  height: 160px;
  overflow: hidden;
}
.index-wrapper .recommend-list .cover {
  display: block;
  max-width: 100%;
}
.index-wrapper .recommend-list .online {
  margin: 10px 0 10px 20px;
  line-height: 1.8em;
  color: #a3a3a3;
}
.index-wrapper .recommend-list .online .name {
  display: inline-block;
  margin: 5px 0;
  font-size: 16px;
  color: #515151;
}
.index-wrapper .recommend-list .online .name:hover {
  color: #239cf0;
}
.index-wrapper .recommend-list .lnks {
  margin: 15px 20px 15px 0;
}
.index-wrapper .recommend-list .lnks .lnk {
  display: block;
  margin-bottom: 10px;
  padding: 2px 20px;
  border: 1px solid #dedede;
  border-radius: 16px;
  color: #a3a3a3;
}
.index-wrapper .recommend-list .lnks .lnk:hover {
  color: #fff;
  background-color: #239cf0;
  border-color: #239cf0;
}
.index-wrapper .sidebar {
  width: 326px;
}
.index-wrapper .content {
  margin-left: 20px;
  width: 914px;
}
@media screen and (max-width: 1280px) {
  .index-wrapper .content {
    width: 894px;
  }
}
.index-wrapper .content .game-menu li {
  float: left;
  margin-right: 10px;
}
.index-wrapper .content .game-menu a {
  display: block;
  padding: 10px 25px;
  background-color: #797575;
  color: #fff;
  font-size: 16px;
}
.index-wrapper .content .game-menu a:hover,
.index-wrapper .content .game-menu a.active {
  background-color: #ffad1e;
}
.index-wrapper .content .game-list {
  margin-bottom: 25px;
}
.index-wrapper .content .game-list .item {
  float: left;
  margin: 0 2% 2% 0;
  width: 32%;
  background-color: #fff;
}
.index-wrapper .content .game-list .lnk-cover {
  height: 160px;
  overflow: hidden;
}
.index-wrapper .content .game-list .cover {
  display: block;
  max-width: 100%;
}
.index-wrapper .content .game-list .lnk {
  display: inline-block;
  padding: 15px;
  width: 50%;
  border-right: 1px solid #e6e6e6;
  color: #515151;
  text-align: center;
}
.index-wrapper .content .game-list .lnk:hover {
  background-color: #fbfbfb;
  color: #239cf0;
}
