#bottom-bar.bottom-bar
  div 健康游戏公告：地址不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。
  div
    a(href='http://www.mokylin.com/contact.php', rel='nofollow', target='_blank') 联系我们
    | &nbsp;|&nbsp;
    a(href='http://www.mokylin.com/timeline.php', rel='nofollow', target='_blank') 加入墨麟
    | &nbsp;|&nbsp;
    a(href='http://www.mokylin.com/video.php', rel='nofollow', target='_blank') 视频中心
    | &nbsp;|&nbsp;
    a(href='http://www.mokylin.com/download.php', rel='nofollow', target='_blank') 下载中心
    | &nbsp;|&nbsp;
    a(href='http://www.mokylin.com/legal.php', rel='nofollow', target='_blank') 法律声明
    | &nbsp;|&nbsp;
    a(href='http://www.mokylin.com/map.php', rel='nofollow', target='_blank') 网站地图
    | &nbsp;|&nbsp;
    a(href='http://www.cnzz.com/stat/website.php?web_id=5830563', rel='nofollow', target='_blank') 站长统计
  .unpoint
    | Copyright &copy; 2012 - #{moment().format('YYYY')} 墨麟科技股份有限公司. All Rights Reserved
    a(href='http://www.mokylin.com/images/B2-20130762.jpg', target='_blank') ICP粤B2-20130762
    a(href='http://www.miitbeian.gov.cn', target='_blank') 粤ICP备13082784号-1
    a(href='http://www.mokylin.com/images/icp.jpg', target='_blank') 粤网文[2013]1028-278