.row
  .block-6
    .title
      span.title-main 友情链接
      span.title-assis LINKS
    .links-content
      a(href='http://zl.qq.com/') 战龙三国
      a(href='http://fengyun.yy.com/') 风云无双
      a(href='http://www.37.com/') 37游戏
      a(href='http://www.265g.com/') 265G