#top-navi.top-navi
  ul
    li
      a(href='/') 官网首页
    li
      a(href='/news_list/all') 新闻中心
    li
      a(href='/info_list') 游戏资料
  i#normal_spr_logo
  ul
    li
      a(href=config.url.pay + '/?gid=' + config.gid, target='_blank') 充值中心
    li
      a(href=config.url.service + '/', target='_blank') 客服中心
    li
      a(href='#') 官方论坛
