.shortcut-panel.panel
  header.panel-header 快捷功能
  .panel-body
    a(href='http://wpa.qq.com/msgrd?v=3&uin=2880500813&site=qq&menu=yes', target='_blank')
      i.icon.icon-headset
      | 在线客服
    a.nlm(href=config.url.service + '/', target='_blank')
      i.icon.icon-mail
      | 帐号申诉
    a.ntm(href=config.url.service + '/', target='_blank')
      i.icon.icon-key
      | 设置密保
    a.ntm.nlm(href=config.url.service + '/', target='_blank')
      i.icon.icon-phone
      | 绑定手机