.footer-area
    //- .logo-icon
    //-   a(href='http://www.mokylin.com')
    .txt
      p
        //- a(href='http://www.mokylin.com/contact.php', target='_blank') 联系我们
        |  联系我们  |   
        //- a(href='http://www.mokylin.com/timeline.php', target='_blank') 加入墨麟
        |  加入墨麟  |   
        //- a(href='http://www.mokylin.com/video.php', target='_blank') 视频中心
        |  视频中心  |   
        //- a(href='http://www.mokylin.com/download.php', target='_blank') 下载中心
        |  下载中心  |   
        //- a(href='http://www.mokylin.com/legal.php', target='_blank') 法律声明
        |  法律声明  |   
        //- a(href='http://www.mokylin.com/map.php', target='_blank') 网站地图
        |  网站地图
      p 深圳墨麟科技股份有限公司  |  电话：+86-755-86958281 地址：中国·深圳市南山区科苑路15号科兴科学园B栋3单元9层 (518057)
      p
        | 软著登字第0569816号 | 新广出审[2014]424号 | ISBN:978-7-89989-954-0 | 文网游备字[2014]W-RPG054号
      p
        a(href='http://www.mokylin.com/images/B2-20130762.jpg', target='_blank') ICP粤B2-20130762
        |    |   
        a(href='http://www.miitbeian.gov.cn', target='_blank') 粤ICP备13082784号-6
        |    |   
        a(href='http://www.mokylin.com/images/icp.jpg', target='_blank') 粤网文[2013]1028-278
      p
        a(href='http://www.mokylin.com/images/icp.jpg', target='_blank') Copyright © 2011-#{new Date().getFullYear()} Mokylin. All Rights Reserved