.col-3.gift-content
  div
    a.newer-gift(href='/gift')
      i#normal_spr_link_1
      | 新手礼包
  div
    a.vip(href='/vip')
      i#normal_spr_link_3
      | VIP特权
  div
    a.server(href='/service')
      i#normal_spr_link_4
      | 客服