meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
meta(name='author', content='eric tian')
meta(name='keywords', content='风云,风云无双,页游,风云无双页游')
meta(name='description', content='风云无双官网')
meta(name='revised', content='2016/06/15')
meta(name='copyright' content='mokylin group')