.rightcomponents
  //- 用户登录-begin
  include login.pug
  //- 用户登录-end
  .clear
  //- 服务器列表-begin
  include server.pug
  //- 服务器列表-end 
  .kuangselfhelp
    //- 玩家自助-begin
    include selfhelp.pug
    //- 玩家自助-end
  .kuangnewhand
    //- 游戏资料链接-begin
    include datalink.pug
    //- 游戏资料链接-end
  .kuangpadding23px
    //- 客服中心-begin
    include customer_service.pug
    //- 客服中心-end