ul.newscategory
  li.current 玩家自助
ul.playersselfhelp
  li
    a(href=config.site_url.client_download, target='_blank')
      span.icon.icon-1 &nbsp;
      span.txt 微端下载
  li
    a(href=config.site_url.novice_parcel, target='_blank')
      span.icon.icon-2 &nbsp;
      span.txt 新手礼包
  //- li
  //-   a(href=config.site_url.answer_tool, target='_blank')
  //-     span.icon.icon-3 &nbsp;
  //-     span.txt 答题器
  li
    a(href=config.site_url.pay_center, target='_blank')
      span.icon.icon-4 &nbsp;
      span.txt 充值入口