.dlgamedata {
  width: 100%;
  margin: 30px 0 0 0;
  float: left;
}
.dlgamedata dt {
  border-bottom: 1px solid #979797;
  height: 48px;
  line-height: 48px;
  color: #962e00;
  font-size: 16px;
  width: 100%;
  float: left;
}
.dlgamedata dd {
  color: #555555;
  font-size: 14px;
  float: left;
  height: 14px;
  line-height: 14px;
  padding: 0px 14px 0px 14px;
  margin: 10px 0;
  border-right: 1px solid #555555;
}
.dlgamedata dd a {
  color: #555555;
  text-align: center;
}
.dlgamedata dd a:hover {
  color: #962e00;
}
.dlgamedata dd:first-of-type {
  padding: 0px 14px 0px 0px;
}
.dlgamedata dd:last-child {
  border: none;
}
